{% extends 'base.html' %}

{% load static%}
{% block title %}Irrigo{% endblock %}

{% block content %}


    <!-- Main Content -->
    <div class="container mt-5">
        <div class="row">
            {% comment %} <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title dashboard-title">Field Map</h5>
                        <div id="field_map" style="height: 500px;"></div>
                    </div>
                </div>
            </div> {% endcomment %}
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title dashboard-title" data-bs-toggle="tooltip" data-bs-placement="top" title="Drag to rearrange">Soil Moisture Level</h5>
                        <div id="soil_moisture_chart" style="height: 400px;"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title dashboard-title" data-bs-toggle="tooltip" data-bs-placement="top" title="Drag to rearrange">Current Temperature</h5>
                        <div id="current_temperature_chart" style="height: 400px;"></div>
                        <div id="temperature_label" class="temperature-label"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title dashboard-title" data-bs-toggle="tooltip" data-bs-placement="top" title="Drag to rearrange">Temperature Over Time</h5>
                        <div id="temperature_chart" style="height: 400px;"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title dashboard-title" data-bs-toggle="tooltip" data-bs-placement="top" title="Drag to rearrange">Latest pH Level</h5>
                        <div id="ph_level_gauge" style="height: 400px;"></div>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title dashboard-title" data-bs-toggle="tooltip" data-bs-placement="top" title="Drag to rearrange">Rainfall</h5>
                        <div id="rainfall_chart" style="height: 400px;"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title dashboard-title" data-bs-toggle="tooltip" data-bs-placement="top" title="Drag to rearrange">Tank Water Volume</h5>
                        <div id="tank_water_volume_chart" style="height: 400px;"></div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title dashboard-title" data-bs-toggle="tooltip" data-bs-placement="top" title="Drag to rearrange">Water Pressure</h5>
                        <div id="water_pressure_chart" style="height: 400px;"></div>
                        <div id="pressure_label" class="pressure-label"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title dashboard-title" data-bs-toggle="tooltip" data-bs-placement="top" title="Drag to rearrange">UV Intensity</h5>
                        <div id="uv_intensity_chart" style="height: 400px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

